<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Home</h3>
      <div class="row">
        <div class="col-md-6">
          <h5>Team members</h5>
          <ul>
            <li>Anjan Pradhan</li>
            <li>Kamesh</li>
            <li>Silvan S</li>
            <li>Subiksha</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h5>Technologies Used</h5>
          <h6>Frontend</h6>
          <ol>
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
            <li>Typescript</li>
            <li>Angular</li>
          </ol>
          <h6>Backend</h6>
          <ol>
            <li>Java 8</li>
            <li>MySQL</li>
            <li>Spring Boot</li>
            <li>Data JPA</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>